/*弹窗*/
.maskBox{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left:0;
  background: rgba(0, 0, 0, 0.7);
  /*filter:alpha(opacity=0.7);*/
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#b2000000, endcolorstr=#b2000000);
  /*display: none;*/
  z-index: 10;
}

.mask-cover {
  height: 320px;
  width: 470px;
  margin-top: -110px;
  margin-left: -250px;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  background-color: transparent;
  background-size: 100%;
}

.mask-close {
  cursor: pointer;
}

.close1 {
  width: 21px;
  height: 21px;
  background: url("../images/close.png") center no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top:0;
  right:0;
}

.open {
  padding: 0 28px 0 25px;
}
.itemInf-txt {
  text-indent: 2em;
  font-size: 16px;
  color: #1e2c36;
  line-height: 27px;
  margin-top: 24px;
}

.edit-subTitle {
  text-align: left;
  font-size: 20px;
  color: #9A85B7;
  line-height: 30px;
  -webkit-background-size: 4px 21px;
  background-size: 4px 21px;
  margin: 20px 0 0;
}

.comm-width {
  width: 100%;
}
.inline-block {
  display: inline-block;
}
.img-small {
  width: 20px;
  height: 20px;
  padding: 5px 5px;
}
/*无版权歌曲*/
.noCopyright {
  color: red;
}
.songMvIcon {
  padding-bottom: 0px;
  cursor: pointer;
}

th {
  height: 40px;
  border-top: 1px solid #c1c1c1;
  border-left: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  color: #d8bfd8;
  font-family: Sans-Serif;
  text-align: center;
}

th:first-child {
  border-left: 0px;
}

td {
  text-align: center;
  height: 40px;
  color: #4b565e;
  background-color: #eeeaf3;
}

td:first-child {
  width: 100px;
}

