.concertBgBox {
  width: 100%;
  height: 260px;
  margin: 5px 0px;
  background-color: #f4f2fe;
}

.concertImg {
  width: 470px;
  height: 260px;
  float: left;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-140 {
  padding-top: 140px;
}

.concert-margin {
  margin-left: -35px;
}

.concert-dec {
  margin-left: 500px;
  position: absolute;
  float: left;
  text-align: left;
  height: 260px;
}



